<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

  <body>

    <h1 th:text="List of Owners">Owners List</h1>

    <table id="owners" class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="owner : ${owners}">
              <td th:each="${owner.id}"></td>
              <td th:text="${owner.firstName}"/>
              <td th:text="${owner.city}"/>
              <td th:text="${owner.telephone}"/>
              <td><span th:each="pet : ${owner.pets}" th:text="${pet.name} "/></td>
          </tr>
        </tbody>
    </table>

  </body>
</html>
